body {
    font-family: 'Montserrat', sans-serif;
    color: #0D0D0D;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "header"
        "main";
}

header {
    background-color: #327373;
    color: #F2F2F2;
    grid-area: header;
    box-shadow: 1px 1px 5px #777777;
    z-index: 1;
}

main {
    overflow: hidden;
    background-color: #C1D4D9;
    height: 100%;
    grid-area: main;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    font-family: 'Merriweather', serif;
    padding: 15px;
    text-shadow: 2px 2px 5px #444444;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Merriweather', serif;
    padding: 5px;    
    color: #327373;
    text-align: center;
    margin-top: 10px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Merriweather', serif;
    padding: 5px;
    border-bottom: 2px solid #327373;
    color: #327373;
    margin-bottom: 10px;
}

input {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #dddddd;
    display: block;
}

textarea {
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    height: 300px;
    border: 1px solid #dddddd;
    display: block;
}

a {
    text-decoration: none;
}

img {
    margin-right: 10px;
}

p {
    display: block;
    margin-block-end: 1em;
    line-height: 1.2;
}

button {
    padding: 10px 30px;
    font-size: 18px;
    color: #F2F2F2;
    background-color: #327373;
    border-radius: 15px;
}

li {
    line-height: 1.5;
}